@page
@model Meum.Pages.LagerModel
@{
}
<head>
    <style>
        .oversigt {
            background: #F5ECDB;
            padding: 15px;
            color: #F5ECDB
        }
    </style>
</head>

<h3>Oversigt over enheder på lager</h3>
<div class="oversigt">
    <
    <h4><a href="TilføjEnhed">+ Tilføj Ny Enhed<a /></h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Vare ID
                </th>
                <th>
                    Navn
                </th>
                <th>
                    Antal
                </th>
                <th>
                    Pris
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.EnhedList)
            {
                <tr>
                    <td>
                        @item.VareId
                    </td>
                    <td>
                        @item.Navn
                    </td>
                    <td>
                        @item.Antal
                    </td>
                    <td>
                        @item.Pris Kr
                    </td>
                    <td>
                        @*<a class="btn" type="button" asp-page="SletKunde" asp-route-Tlf="@item.TlfNummer"></a>*@
                        <a href="SletVare/@item.VareId">
                            Slet<a />
                            <a href="UpdaterEnhed/@item.VareId">Opdater<a />
                    </td>
                </tr>

            }
        </tbody>
    </table>
    </div>
