@page
@model Meum.Pages.KunderViewModel
@{
}

<h3>Liste af alle kunder:</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                kunde ID
            </th>
            <th>
                Fornavn
            </th>
            <th>
                efternavn
            </th>
            <th>
                Tlf Nummer
            </th>
            <th>
                Email
            </th>
            <th>
                AdresseID
            </th>
            <th>
                New sub
            </th>
            <th>
                SubStart
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.KundeList)
        {
            <tr>
                <td>
                    @item.IdKunde
                </td>
                <td>
                    @item.Fornavn
                </td>
                <td>
                    @item.Efternavn
                </td>
                <td>
                    @item.TlfNummer
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.AdresseID
                </td>
                <td>
                    @item.NewlySub
                </td>
                <td>
                    @item.SubStart
                </td>
                <td>
                    @*<a class="btn" type="button" asp-page="SletKunde" asp-route-Tlf="@item.TlfNummer"></a>*@
                    <a href="SletKunde/@item.TlfNummer">Delete<a />
                </td>
            </tr>

        }
    </tbody>
</table>