@page
@model Meum.Pages.TilføjProduktModel
@{
}

<h1>Tilføj Produkt</h1>

<form method="post">

    <div asp-validation-summary="All" class="alert-danger"></div>

    <div class="form-group">
        <label asp-for="@Model.Produkt.Navn" class="control-label"> Navn </label>
        <input asp-for="@Model.Produkt.Navn" class="form-control" />
        <span asp-validation-for="Produkt.Navn" class="alert-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Produkt.Beskrivelse" class="control-label">Antal </label>
        <input asp-for="@Model.Produkt.Beskrivelse" class="form-control" />
        <span asp-validation-for="Produkt.Beskrivelse" class="alert-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Produkt.Pris" class="control-label">Pris</label>
        <input asp-for="@Model.Produkt.Pris" class="form-control" />
        <span asp-validation-for="Produkt.Pris" class="alert-danger"></span>
    </div>



    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>